
body {
    padding-top: 50px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.base-nav {
    margin-bottom: 0;
    background-color: #FFF;
    border-bottom: 0;
}

.base-footer {
    color: #99979c;
    background-color: #2a2730;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.base-content {
    padding: 80px 0;
}

.home-masthead {
    padding: 80px 0;
    font-size: 30px
    background: #FFC107;
    color: #FFF;
}

.home-masthead .lead{
    margin-bottom: 30px;
}
