{% extends "religos/base.html" %}

<!-- Main content start -->
{% block content %}

<div class="base-content">
    <div class="container">

        <table class="table table-bordered">
            <tr>
                <td><strong>店名:<strong></td>
                <td>{{ place.name }}</td>
            </tr>

            <tr>
                <td><strong>電話番号:<strong></td>
                <td>{{ place.phone_number }}</td>
            </tr>

            <tr>
                <td><strong>住所:<strong></td>
                <td>{{ place.location }}</td>
            </tr>
        </table>
        
        <a href="{% url 'religos:edit' place.id %}" class="btn btn-primary">編集</a>
        <a href="{% url 'religos:index' %}" class="btn btn-default">戻る</a>
    </div>
</div>

{% endblock content %}
<!-- Main content end -->
