{% extends "religos/base.html" %}

<!-- Main content start -->
{% block content %}

<p>Looking place detail</p>

<table class="table table-bordered">
  <tr>
    <td><strong>Name:<strong></td>
    <td>{{ place.name }}</td>
  </tr>

  <tr>
    <td><strong>Phone number<strong></td>
    <td>{{ place.phone_number }}</td>
  </tr>

  <tr>
    <td><strong>Location:<strong></td>
    <td>{{ place.location }}</td>
  </tr>

</table>
<form action="{% url 'religos:edit' place.id %}" method="get">
  <input type="submit" class="btn btn-primary" value="Edit">
  <a href="{% url 'religos:index' %}"><input type="button" class="btn btn-secondary" value="Return"></input>
</form>

{% endblock content %}
<!-- Main content end -->
