{% load static %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<ul>
    <li>
        <h1>店名：{{ place.name }}</h1></li>
    <li>
        <h1>電話番号：{{ place.phone_number }}</h1></li>
    <li>
        <h1>住所：{{ place.location }}</h1></li>
    <li>
        <h1>追加日：{{ place.add_date }}</h1></li>
</ul>
<form action="{% url 'religos:edit' place.id %}" method="get">
    <input type="submit" value="編集">
</form>
