{% extends "religos/base.html" %}

<!-- Main content start -->
{% block content %}

<p class="blockquote">Please input new place</p>

<form action="{% url 'religos:edit' place_id %}" method="post">
  <table class="table table-bordered">

    <!-- Form start auto write in Django -->
    {% csrf_token %} {{ form.as_table }}
    <!-- Form end -->

  </table>
  <input type="submit" class="btn btn-primary" value="Update">
  <a href="{% url 'religos:detail' place_id %}"><input type="button" class="btn btn-secondary" value="Cancel"></input>
</form>

{% endblock content %}
<!-- Main content end -->
