{% extends "religos/base.html" %}

<!-- Main content start -->
{% block content %}

<!-- Condition check start -->
{% if latest_place_list %}

<!-- Exist place -->
<ul class="list-group">
  {% for place in latest_place_list %}
  <li class="list-group-item">
    <a href="{% url 'religos:detail' place.id %}">{{ place.name }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<!-- Not exist place -->

<p>No place are available.</p>

{% endif %}
<!-- Condition check end -->

<a href="{% url 'religos:add' %}"><input type="button" class="btn btn-primary" value="add"></input>
</a>

{% endblock content %}
<!-- Main content end -->
