{% extends "religos/base.html" %}

<!-- Main content start -->
{% block content %}

<p class="blockquote">Please select upload file</p>

<form action="{% url 'religos:upload_file' %}" method="post" enctype="multipart/form-data">
  <table class="table table-bordered">

    <!-- Form start auto write in Django -->
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>

    <p>
        {{ form.file.errors }}
        {{ form.file }}
    </p>
    <!-- Form end -->

  </table>
  <input type="submit" class="btn btn-primary" value="Upload">
  <a href="{% url 'religos:index' %}"><input type="button" class="btn btn-secondary" value="Cancel"></input>
  </a>
</form>

{% endblock content %}
<!-- Main content end -->
